Django==5.2.9
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
celery==5.4.0
django-celery-results==2.5.1
redis==5.2.1
django-redis==5.4.0
resend>=2.0.0
loguru==0.7.3
python-dotenv==1.1.1
gunicorn==23.0.0
pytest==8.4.2
pytest-django==4.11.1
